<!DOCTYPE html>
<html lang="en">
<head>
    <title>Employer Registration</title>
    <script src="../public/validation.js"></script>
</head>
<body>
    <h1>Employer Registration</h1>
    <form action="../controllers/registration.php" method="POST" onsubmit="return validateRegistrationForm()">
        <label for="employerName">Employer Name:</label><br>
        <input type="text" id="employerName" name="employer_name" required><br><br>
        <label for="companyName">Company Name:</label><br>
        <input type="text" id="companyName" name="company_name" required><br><br>
        <label for="contactNo">Contact Number:</label><br>
        <input type="text" id="contactNo" name="contact_no" required><br><br>
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        <button type="submit">Register</button>
    </form>
</body>
</html>
